docs/n8n-workflows/gold-price-update.json
{
  "name": "Cold Cake - Gold Price Update",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "hourly-trigger",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.example.com/gold-price",
        "options": {}
      },
      "id": "fetch-gold-price",
      "name": "Fetch Gold Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://coldcake.ir/api/gold-price/update",
        "method": "POST",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "price",
              "value": "={{ $json.price }}"
            },
            {
              "name": "change",
              "value": "={{ $json.change }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.COLD_CAKE_TOKEN }}"
            }
          ]
        }
      },
      "id": "update-price",
      "name": "Update Price in Cold Cake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Every Hour": {
      "main": [
        [
          {
            "node": "Fetch Gold Price",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Gold Price": {
      "main": [
        [
          {
            "node": "Update Price in Cold Cake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
